In [1]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame({'kor':[73,67,98,65],'eng':[69,86,75,69],'math':[46,87,67,75]},
                 index = ['aa','bb','cc','dd'])
df

    kor  eng  math
aa   73   69    46
bb   67   86    87
cc   98   75    67
dd   65   69    75

In [14]:
def fn(v):
    print(v)
    print('-'*10)
    # return v[0] # v['aa'] 랑 같은 표현임
    return v.sum()

In [24]:
# df.apply(fn)
df.apply(lambda v: v.mean()) # v가 시리즈

kor     75.75
eng     74.75
math    68.75
dtype: float64

In [22]:
def fn1(v):
    print(v)
    print('-'*10)
    return v.mean()

In [23]:
df.apply(fn1,axis=1)

kor     73
eng     69
math    46
Name: aa, dtype: int64
----------
kor     67
eng     86
math    87
Name: bb, dtype: int64
----------
kor     98
eng     75
math    67
Name: cc, dtype: int64
----------
kor     65
eng     69
math    75
Name: dd, dtype: int64
----------

aa    62.666667
bb    80.000000
cc    80.000000
dd    69.666667
dtype: float64

In [26]:
df.apply(lambda v:"평균 이상" if v[0]>=v.mean() else '평균 이하', axis=1)

aa    평균 이상
bb    평균 이하
cc    평균 이상
dd    평균 이하
dtype: object

In [29]:
for n in df:
    #print(n) # column명 나옴
    print(df[n]['aa'])

73
69
46

In [36]:
for idx,v in df.items(): # df.iteritems() 로 해도 동일한 표현임
    #print(n) # tuple형태로 Series가 반환됨
    # print(idx)
    # print(v)
    print('%s %d %d %d' % (idx,v[0],v[1],v[2])) # 이걸로 해도 같은 표현 (idx,v['aa'],v['bb'],v['cc'])

kor 73 67 98
eng 69 86 75
math 46 87 67

In [37]:
d = {'aa':10,'bb':20,'cc':30} 
print('%(aa)d %(bb)d %(cc)d' %d) # 딕셔너리 형태로 넣는거

10 20 30

In [43]:
for idx,n in df.iterrows():
    print(idx,n[0],n[1],n[2]) # tuple로 반환하므로 위에서 unpacking 한거

aa 73 69 46
bb 67 86 87
cc 98 75 67
dd 65 69 75